In [1079]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1080]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# x_train = train.drop(columns=['Transported'])
# y_train = train['Transported']
test_Id = test.PassengerId

In [1081]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [1082]:
train = train.drop(columns=['PassengerId', 'Name', 'Age'])
test = test.drop(columns=['PassengerId', 'Name', 'Age'])

In [1083]:
train.isnull().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [1084]:
test['RoomService'] = test['RoomService'].fillna(0)
test['FoodCourt'] = test['FoodCourt'].fillna(0)
test['ShoppingMall'] = test['ShoppingMall'].fillna(0)
test['Spa'] = test['Spa'].fillna(0)
test['VRDeck'] = test['VRDeck'].fillna(0)

# train['RoomService'] = train['RoomService'].fillna(train['RoomService'].mean())
# train['FoodCourt'] = train['FoodCourt'].fillna(train['FoodCourt'].mean())
# train['ShoppingMall'] = train['ShoppingMall'].fillna(0)
# train['Spa'] = train['Spa'].fillna(train['Spa'].mean())
# train['VRDeck'] = train['VRDeck'].fillna(train['VRDeck'].mean())

In [1085]:
train = train.dropna().reset_index(drop=True)
test = test.fillna(method='bfill')
test.isnull().sum()

HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [1086]:
train['Cabin_Deck'] = train.Cabin.apply(lambda x: x[0])
train['Cabin_Port'] = train.Cabin.apply(lambda x: x[-1])
train = train.drop(columns=['Cabin'])

test['Cabin_Deck'] = test.Cabin.apply(lambda x: x[0])
test['Cabin_Port'] = test.Cabin.apply(lambda x: x[-1])
test = test.drop(columns=['Cabin'])

In [1087]:
port_dummies = pd.get_dummies(train['Cabin_Port']).rename(columns={'P':'Cabin_Port_P', 'S':'Cabin_Port_S'})
train = pd.concat([train, port_dummies], axis=1)
train = train.drop(columns=['Cabin_Port'])

port_dummies = pd.get_dummies(test['Cabin_Port']).rename(columns={'P':'Cabin_Port_P', 'S':'Cabin_Port_S'})
test = pd.concat([test, port_dummies], axis=1)
test = test.drop(columns=['Cabin_Port'])

In [1088]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

train['Cabin_Deck'] = encoder.fit_transform(train['Cabin_Deck'])
train['Destination'] = encoder.fit_transform(train['Destination'])
train['VIP'] = encoder.fit_transform(train['VIP'])
train['HomePlanet'] = encoder.fit_transform(train['HomePlanet'])
train['CryoSleep'] = encoder.fit_transform(train['CryoSleep'])
train['Transported'] = encoder.fit_transform(train['Transported'])
train

test['Cabin_Deck'] = encoder.fit_transform(test['Cabin_Deck'])
test['Destination'] = encoder.fit_transform(test['Destination'])
test['VIP'] = encoder.fit_transform(test['VIP'])
test['HomePlanet'] = encoder.fit_transform(test['HomePlanet'])
test['CryoSleep'] = encoder.fit_transform(test['CryoSleep'])
# test['Transported'] = encoder.fit_transform(test['Transported'])
test

,HomePlanet,CryoSleep,Destination,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Cabin_Deck,Cabin_Port_P,Cabin_Port_S
0,0,1,2,0,0.0,0.0,0.0,0.0,0.0,6,0,1
1,0,0,2,0,0.0,9.0,0.0,2823.0,0.0,5,0,1
2,1,1,0,0,0.0,0.0,0.0,0.0,0.0,2,0,1
3,1,0,2,0,0.0,6652.0,0.0,181.0,585.0,2,0,1
4,0,0,2,0,10.0,0.0,635.0,0.0,0.0,5,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0,1,2,0,0.0,0.0,0.0,0.0,0.0,6,0,1
4273,0,0,2,0,0.0,847.0,17.0,10.0,144.0,3,1,0
4274,2,1,0,0,0.0,0.0,0.0,0.0,0.0,3,1,0
4275,1,0,1,0,0.0,2680.0,0.0,0.0,523.0,3,1,0
4276,0,1,1,0,0.0,0.0,0.0,0.0,0.0,6,0,1

In [1089]:
# train['Amenities'] = train['RoomService'] + train['FoodCourt'] + train['ShoppingMall'] + train['Spa'] + train['VRDeck']
# train = train.drop(columns=['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck'])
# train
# cryo = pd.get_dummies(train['CryoSleep']).rename(columns={0:'CryoSleep_False', 1:'CryoSleep_True'})
# train = pd.concat([train, cryo], axis=1)
# train = train.drop(columns=['CryoSleep'])

In [1090]:
train.corr()

,HomePlanet,CryoSleep,Destination,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Cabin_Deck,Cabin_Port_P,Cabin_Port_S
HomePlanet,1.000000,0.079716,0.042498,0.128084,0.226909,0.072248,0.104891,0.054439,0.039995,0.110709,-0.419591,0.003095,-0.003095
CryoSleep,0.079716,1.000000,-0.098998,-0.081937,-0.256160,-0.211670,-0.208987,-0.203621,-0.200078,0.461554,0.026663,-0.016631,0.016631
Destination,0.042498,-0.098998,1.000000,-0.040825,0.050389,-0.106092,0.021821,-0.056150,-0.070728,-0.120395,0.189117,0.003104,-0.003104
VIP,0.128084,-0.081937,-0.040825,1.000000,0.029448,0.135131,0.012491,0.063938,0.126933,-0.039590,-0.193051,0.008870,-0.008870
RoomService,0.226909,-0.256160,0.050389,0.029448,1.000000,-0.015074,0.054198,0.008502,-0.022283,-0.247749,-0.025075,0.016179,-0.016179
FoodCourt,0.072248,-0.211670,-0.106092,0.135131,-0.015074,1.000000,-0.011022,0.218625,0.221721,0.053500,-0.333217,-0.019456,0.019456
ShoppingMall,0.104891,-0.208987,0.021821,0.012491,0.054198,-0.011022,1.000000,0.021281,-0.001916,0.013859,-0.039930,0.020602,-0.020602
Spa,0.054439,-0.203621,-0.056150,0.063938,0.008502,0.218625,0.021281,1.000000,0.152789,-0.220286,-0.233988,-0.012426,0.012426
VRDeck,0.039995,-0.200078,-0.070728,0.126933,-0.022283,0.221721,-0.001916,0.152789,1.000000,-0.207817,-0.261358,0.005507,-0.005507
Transported,0.110709,0.461554,-0.120395,-0.039590,-0.247749,0.053500,0.013859,-0.220286,-0.207817,1.000000,-0.113114,-0.105625,0.105625
Cabin_Deck,-0.419591,0.026663,0.189117,-0.193051,-0.025075,-0.333217,-0.039930,-0.233988,-0.261358,-0.113114,1.000000,0.035783,-0.035783
Cabin_Port_P,0.003095,-0.016631,0.003104,0.008870,0.016179,-0.019456,0.020602,-0.012426,0.005507,-0.105625,0.035783,1.000000,-1.000000
Cabin_Port_S,-0.003095,0.016631,-0.003104,-0.008870,-0.016179,0.019456,-0.020602,0.012426,-0.005507,0.105625,-0.035783,-1.000000,1.000000

In [1091]:
from xgboost import XGBClassifier
model = XGBClassifier(eval_metric='error', n_estimator=300, max_depth=2)

In [1092]:
from sklearn.model_selection import train_test_split
x_train = train.drop(columns=['Transported'])
y_train = train[['Transported']]
X_TRAIN,X_TEST,Y_TRAIN,Y_TEST = train_test_split(x_train, y_train, test_size=0.2, random_state=10)

In [1093]:
model.fit(X_TRAIN,Y_TRAIN)
Y_PREDICTED = pd.DataFrame(model.predict(X_TEST)).rename(columns={0:'Y_PREDICTED'})

/Users/heetaecho/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/heetaecho/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/heetaecho/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/heetaecho/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[10:24:52] WARNING: /var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_44tbtwf8c1/croots/recipe/xgboost-split_1659548960882/work/src/learner.cc:576:
Parameters: { "n_estimator" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.

In [1094]:
from sklearn.metrics import roc_auc_score
Y_TEST = Y_TEST.reset_index(drop=True)
roc_auc_score(Y_TEST, Y_PREDICTED)

0.8095812262297821

In [1095]:
model.fit(x_train, y_train)
y_test_predicted = pd.DataFrame(model.predict(test)).rename(columns={0:'Transported'})
y_test_predicted = y_test_predicted.replace({1.0:'True', 0.0:'False'})
final = pd.concat([test_Id, y_test_predicted],axis=1)
final

[10:24:53] WARNING: /var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_44tbtwf8c1/croots/recipe/xgboost-split_1659548960882/work/src/learner.cc:576:
Parameters: { "n_estimator" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.

/Users/heetaecho/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/heetaecho/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/heetaecho/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/heetaecho/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

     PassengerId Transported
0        0013_01        True
1        0018_01       False
2        0019_01        True
3        0021_01        True
4        0023_01        True
...          ...         ...
4272     9266_02        True
4273     9269_01       False
4274     9271_01        True
4275     9273_01        True
4276     9277_01        True

[4277 rows x 2 columns]

In [1096]:
final.to_csv('submission.csv', index=False)

In [1097]:
final = pd.read_csv('submission.csv')
final

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]